<div class="container">
  <h3 style="color: #7C7C7D; padding-bottom: 25px; padding-top: 25px; text-align: center;">
    Hello <%= current_user.username %>
    <% if current_user.resolutions.blank? %>
      , you don't have any resolutions or goals! Click
      <%= link_to 'here', new_resolution_path(user_id: current_user.id) %> to start!
    <% else %>
      , These are your resolutions! Feel free to add more
      <%= link_to 'here', new_resolution_path(user_id: current_user.id) %>!

      <% current_user.resolutions.each do |resolution| %>
        <p><%= link_to resolution.name, resolution %> </p>
      <% end %>
    <% end %>
      <p id="notice"><%= notice %></p>
  </h3>
</div>
