<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resolution.name %>
</p>

<p>
  <strong>Mission statement:</strong>
  <%= @resolution.mission_statement %>
</p>

<p>
  <strong>Status:</strong>
  <%= @resolution.state %>
</p>

<p>
  <strong>Goals:</strong>
  <% if @resolution.goals.blank? %>
    There are no goals yet for this resolution, click <%= link_to 'here', new_goal_path(resolution_id: @resolution.id) %>
  <% else %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @resolution.goals.each do |goal| %>
        <tr>
          <td><%= goal.name %></td>
          <td><%= goal.state %></td>
          <td><%= link_to 'Show', goal %></td>
          <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
          <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  To add more goals for this resolution, click <%= link_to 'here', new_goal_path(resolution_id: @resolution.id) %>
  <% end %>
</p>

<p>
  <strong>We will remind you by:</strong>
  <br />
  <% if @resolution.cell? %>
    Texts
  <% end %>
  <br />
  <% if @resolution.email? %>
    Email
  <% end %>
</p>

<!-- need to implement Goal as Resolutin children -->
<!-- <p>
  <strong>Goal ids:</strong>
  <%#= @resolution.goal_ids %>
</p> -->
<% if @resolution.cell? or @resolution.email? %>
  <p><strong>We will remind you at <%= @resolution.spam_time.strftime("%I:%M%p") %> on:</strong></p>

  <% if @resolution.sun? %>
    <p><strong>Sunday</strong></p>
  <% end %>

  <% if @resolution.mon? %>
    <p><strong>Monday</strong></p>
  <% end %>

  <% if @resolution.tue? %>
    <p><strong>Tuesday</strong></p>
  <% end %>

  <% if @resolution.wed? %>
    <p><strong>Wednesday</strong></p>
  <% end %>

  <% if @resolution.thu? %>
    <p><strong>Thursday</strong></p>
  <% end %>

  <% if @resolution.fri? %>
    <p><strong>Friday</strong></p>
  <% end %>

  <% if @resolution.sat? %>
    <p><strong>Saturday</strong></p>
  <% end %>
<% else %>
  <p><strong>Please choose to get reminders by email, text messages, or both!</strong></p>
<% end %>
TODO: implement Goals
<br />
<%= link_to 'Edit', edit_resolution_path(@resolution) %> |
<%= link_to 'Back', resolutions_path %>
