<p id="notice"><%= notice %></p>

<p>
  <strong>Goal:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @goal.resolution.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @goal.state %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
