<!DOCTYPE html>
<html>
<head>
  <title>ResolutionTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <div class="ui container">
    <div id="logo_container" class="">
      <!-- need logo :) -->
      <%#= image_tag "", id: "logo", alt: "ResolutionTracker logo", class: "ui fluid image" %>
    </div>
    <% unless current_user.nil? %>
      <%= render 'layouts/menu' %>
    <% end %>
      <%= render 'layouts/flash_message' if flash[:notice] %>
    <%= yield %>
  </div>
</body>
</html>
